
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f3f3f3;
}


header {
    color: #fff;
    padding: 2rem;
    text-align: center;
    background: #4facfe;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1rem auto;
    border: 3px solid #fff;
}


nav {
    background: #fff;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

nav a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}


section {
    padding: 4rem 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #007bff;
    margin-bottom: 2rem;
    text-align: center;
}


.about {
    background: #fff;
    padding: 3rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.skills {
    background: #e0eafc;
    padding: 3rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.skill-card {
    background: #fff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}


.projects {
    background: #fff;
    padding: 3rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

#projectcartmain{
    background: #f3e7e9;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.project-card {
   
    display:flex;
    flex-direction: row;
    
}

.project-img {
    padding: 0.5rem;
    
    width: 80%;
    height: 150px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}

.project-content {  
    margin-top: 20px; 
    padding: 1.5rem;
    text-align: center;
}

.contact {
    background: #f9f9f9;
    text-align: center;
    padding: 3rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.social-links a {
    color: #007bff;
    font-size: 1.2rem;
    text-decoration: none;
}
